<template>
  <div class="ourclients-content">
    <div style="text-align: center">
      <div class="title">
        <h3 class="title-text">OUR CLIENTS</h3>
        <div class="icon"></div>
      </div>
    </div>
    <div class="partner-content">
      <div class="bg"></div>
      <div class="oblong"></div>
      <div class="line"></div>
      <div class="partner-list">
        <div class="partner-first-line">
          <el-image
            style="width: 183px; height: 53px"
            :src="logoList.yoka.url"
            fit="cover"
          />
          <el-image
            style="width: 143px; height: 58px"
            :src="logoList.eworld.url"
            fit="cover"
          />
          <el-image
            style="width: 170px; height: 67px"
            :src="logoList.leiting.url"
            fit="cover"
          />
          <!-- <el-image
            style="width: 214px; height: 49px"
            :src="logoList.idreamSky.url"
            fit="cover"
          /> -->
          <el-image
            style="width: 173px; height: 59px"
            :src="logoList.zhaoxi.url"
          />
          <el-image
            style="width: 113px; height: 46px"
            :src="logoList.changYou.url"
            fit="cover"
          />
        </div>
        <div class="partner-second-line">
          <el-image
            style="width: 155px; height: 42px"
            :src="logoList.zLonGame.url"
            fit="cover"
          />
          <el-image
            style="width: 179px; height: 44px"
            :src="logoList.thirdSevengame.url"
            fit="cover"
          />
          <el-image
            style="width: 172px; height: 70px"
            :src="logoList.funplus.url"
            fit="cover"
          />
          <el-image
            style="width: 89px; height: 57px"
            :src="logoList.igg.url"
            fit="cover"
          />
          <el-image
            style="width: 180px; height: 59px"
            :src="logoList.happyGame.url"
            fit="cover"
          />
        </div>
        <div class="partner-third-line">
          <el-image
            style="width: 165px; height: 42px"
            :src="logoList.qingCi.url"
            fit="cover"
          />
          <el-image
            style="width: 66px; height: 88px"
            :src="logoList.sevenRoad.url"
            fit="cover"
          />
          <el-image
            style="width: 160px; height: 51px"
            :src="logoList.lilisi.url"
            fit="cover"
          />
          <el-image
            style="width: 124px; height: 36px"
            :src="logoList.melTing.url"
            fit="cover"
          />
          <el-image
            style="width: 74px; height: 74px"
            :src="logoList.yoTta.url"
            fit="cover"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import yoka from "../../public/static/image/partner/游卡.png";
import eworld from "../../public/static/image/partner/image-removebg-preview.png";
import leiting from "../../public/static/image/partner/雷霆游戏-removebg-preview.png";
import zhaoxi from "../../public/static/image/partner/朝夕光年-removebg-preview.png";
import zLonGame from "../../public/static/image/partner/紫龙-removebg-preview (2).png";
import thirdSevengame from "../../public/static/image/partner/三七互娱-removebg-preview.png";
import funplus from "../../public/static/image/partner/Funplus-removebg-preview.png";
import igg from "../../public/static/image/partner/IGG.png";
import happyGame from "../../public/static/image/partner/欢乐互娱.png";
import qingCi from "../../public/static/image/partner/青瓷游戏.png";
import sevenRoad from "../../public/static/image/partner/第七大道-removebg-preview.png";
import lilisi from "../../public/static/image/partner/莉莉丝.png";
import melTing from "../../public/static/image/partner/火溶.png";
import yoTta from "../../public/static/image/partner/友塔.png";
import changYou from "../../public/static/image/partner/image-removebg-preview (1).png";
const logoList = {
  yoka: {
    url: yoka,
  },
  eworld: {
    url: eworld,
  },
  leiting: {
    url: leiting,
  },
  zhaoxi: {
    url: zhaoxi,
  },
  zLonGame: {
    url: zLonGame,
  },
  thirdSevengame: {
    url: thirdSevengame,
  },
  funplus: {
    url: funplus,
  },
  igg: {
    url: igg,
  },
  happyGame: {
    url: happyGame,
  },
  qingCi: {
    url: qingCi,
  },
  sevenRoad: {
    url: sevenRoad,
  },
  lilisi: {
    url: lilisi,
  },
  melTing: {
    url: melTing,
  },
  yoTta: {
    url: yoTta,
  },
  changYou: {
    url: changYou,
  },
};
</script>
<style lang="scss" scoped>
.ourclients-content {
  background-color: #000;
  .title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    .title-text {
      font-size: 35px;
      font-family: "Galvji", Galvji;
      font-weight: bold;
      color: #00ffce;
      line-height: 41px;
    }
    .icon {
      position: absolute;
      top: -18px;
      right: -18px;
      width: 18px;
      height: 18px;
      background-image: url("../../public/static/image/bottomLeft.png");
    }
  }
  .partner-content {
    position: relative;
    width: 100%;
    height: 552px;
    .partner-list {
      padding: 30px 0 140px;
      .partner-second-line,
      .partner-third-line,
      .partner-first-line {
        width: 1200px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 80px;
      }
    }
    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../../public/static/image/partnerBg.png") center;
      z-index: 2;
    }
    .oblong {
      position: absolute;
      bottom: -40%;
      right: -10%;
      width: 585px;
      height: 471px;
      background: radial-gradient(
        circle,
        rgba(0, 255, 206, 0.15),
        transparent 70%
      );
      border-radius: 50%;
      // background: url("../../public/static/image/oblong.png") center;
    }
    .line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 297px;
      height: 129px;
      background: url("../../public/static/image/ourClinetsLine.png") center;
    }
    .line::before,
    .line::after {
      content: "";
      position: absolute;
      top: 0;
      width: 4px;
      height: 4px;
      left: 50%;
      transform: translateX(-50%);
      background: #00ffce; /* 调整点的颜色 */
    }
    .line::before {
      left: 45%;
      transform: translateX(-45%);
    }
  }
}
</style>
