body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Galvji';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'Galvji';
    /* 自定义字体名称 */
    src: url('../assets/font/Galvji.ttc'),
        url('../assets/font/Montserrat/Montserrat-Black.ttf')
        /* 字体文件路径和格式 */
        /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'Montserrat';
    /* 自定义字体名称 */
    src: url('../assets/font/Montserrat/Montserrat-Black.ttf');
    /* 字体文件路径和格式 */
    /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'Montserrat-Medium';
    /* 自定义字体名称 */
    src: url('../assets/font/Montserrat/Montserrat-Medium.ttf');
    /* 字体文件路径和格式 */
    /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'Montserrat-Bold';
    /* 自定义字体名称 */
    src: url('../assets/font/Montserrat/Montserrat-Bold.ttf');
    /* 字体文件路径和格式 */
    /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'Montserrat-Regular';
    /* 自定义字体名称 */
    src:
        url('../assets/font/Montserrat/Montserrat-Regular.ttf');
    /* 字体文件路径和格式 */
    /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'DS-Digital';
    /* 自定义字体名称 */
    src:
        url('../assets/font/DS-DIGI/DS-DIGIB.TTF'),
        /* 字体文件路径和格式 */
        /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

@font-face {
    font-family: 'DINCondensed';
    /* 自定义字体名称 */
    src: url('../assets/font/DIN\ Condensed\ Bold.ttf')
        /* 字体文件路径和格式 */
        /* 可以添加其他字体格式，确保跨浏览器兼容性 */
}

.a-link {
    text-decoration: none;
    color: var(--link);
    cursor: pointer;
}

.container-body {
    margin: 0 auto;
}